################################
## White list based gitignore ##
################################

# forbidden
*
.*


# allowed
!.git*
!*.md
!*.json
!*.lua
!*.vim
!lua
!lua/**
!*.toml
!LICENSE
!config
!config/**
!colors
!colors/**
